# Data & Scientific Computing
matplotlib
numpy
openpyxl
pandas

# Google Cloud & API
gspread
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib

# PDF Handling
pymupdf
reportlab

# Web & API
requests
streamlit

# Visualization
plotly