# Data & Scientific Computing
matplotlib
numpy
openpyxl
pandas

# Google Cloud & API
gspread
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib

# PDF Handling
pymupdf
reportlab
kaleido

# Web & API
requests
streamlit

# Visualization
plotly
wordcloud

#Excel export
xlsxwriter

# Machine Learning for Text Analysis
scikit-learn